body {
	background: #e2e7f4;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 59px 175px;
	width: auto;
	position: relative;
}

.parte1 {
	width: 76%;
	float: left;
	margin: 1px;
}
.parte2 {
	display: block;
	position: relative;
	top: -69px;
	left: 80px;
	width: 21%;
	float: left;
	height: 50rem;

	background-color: white;
	border-radius: 15px;
	text-align: center;
}
.imglogo {
	position: relative;
	left: -9rem;
	top: -3rem;
}
textarea {
	width: 96%;
	height: 34rem;
	color: #0a3871;
	font-size: 30px;
	background: none;
	border: none;
}
textarea:focus {
	outline: none;
}
textarea::placeholder {
	color: #0a3871;
	font-size: 30px;
}
.info {
	color: rgb(47, 47, 47);
}
/* ==========   BOTONES ========*/
#btnEncrypt {
	margin: auto;
	width: 42%;
	padding: 18px;
	font-size: 20px;
	border-radius: 16px;
	color: white;
	background-color: #0a3871;
	border: 1px solid white;
}

#btncopy {
	display: none;
	width: 80%;
	padding: 19px;
	font-size: 20px;
	border-radius: 16px;
	color: white;
	background-color: #0a3871;
	border: 1px solid white;
	margin-top: 710px;
	margin-left: 1.5ch;
}

#btnEncrypt:hover {
	background-color: #c1c3c3;
	color: #0a3871;
	border: solid #0a3871;
}
#btnDecrypt {
	margin: auto;
	width: 42%;
	padding: 18px;
	font-size: 20px;
	border-radius: 16px;
	color: #0a3871;
	background-color: white;
	border: 1px solid #0a3871;
}
#btnDecrypt:hover {
	background-color: #c1c3c3;
	color: #0a3871;
	border: solid #0a3871;
}
.result {
	padding: 9px;
	width: auto;
	height: 46rem;
	border: none;
}
.result img {
	margin-top: 65px;
	max-width: 100%;
	height: auto;
}
.ninguno {
	font-size: 1.5vw;
	font-weight: 500;
}
.ingresa-texto {
	font-size: 1vw;
}
.textresult {
	display: flex;
	position: absolute;
	margin-top: 115px;
	text-align: center;
	font-size: 1.5vw;
}
#output {
	display: none;
}
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 6rem;
	width: 65%;
	color: #0a3871;
	font-size: 19px;
}
footer span {
	font-weight: 700;
}

@media screen and (max-width: 790px) {
	body {
		margin: 1px;
		overflow: auto;
	}
	.imglogo {
		left: -2rem;
		top: 1rem;
	}
	.parte1,
	.parte2 {
		width: 100%;
		float: none;
	}
	.parte2 {
		width: 89%;
		height: 24rem;
		position: absolute;
		left: 1.5rem;
		top: 884px;
	}
	.parte2 .result img {
		display: none;
	}

	.parte2 .ninguno {
		font-size: 24px;
		font-weight: 600;
	}
	.parte2 .ingresa-texto {
		font-size: 21px;
	}
	.textresult {
		font-size: 28px;
		height: 16rem;
	}
	textarea {
		margin: 69px 10px;
		height: 30rem;
	}
	.info {
		margin: 12px 20px;
	}
	#btnEncrypt,
	#btnDecrypt {
		width: 90%;
		position: relative;
		left: 10px;
		margin: 8px;
	}
	.result {
		width: 80%;
		height: 24rem;
		position: relative;
		left: 2.5rem;
		top: 1px;
	}
	.result p {
		padding: 26px 4px;
	}
	#btncopy {
		position: relative;
		top: 150rem;
		left: -1.5rem;
	}
	footer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		width: 100%;
		position: absolute;
		top: 81rem;
	}
}

@media screen and (max-width: 950px) {
	.parte2 .ninguno {
		font-size: 13px;
		font-weight: bold;
	}
	.parte2 .ingresa-texto {
		font-size: 12px;
	}
	.textresult {
		font-size: 25px;
	}
	#btncopy {
		padding: 12px;
		width: 90%;
		font-size: 17px;
		position: relative;
		top: -5rem;
		left: -0.5rem;
	}
}
